.header{
    position: sticky;
    top: 0;
    z-index: 10000;
}
.in{
    display: flex;
    align-items: center;
}
.header.active{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header__logo{
    width: 80px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right:20px;
    


}
.headinfo{
    display: flex;
    flex-direction: column;
}

.showcontent{
   
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
    height: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    

}
.showcontent>img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 2px;
    
}
.header__search{
    display: flex;
    flex: 1;
    background-color: #32df7a;
    border-radius: 10px;
    margin-top: 15px;
    

}
.header__searchx{
    height: 80px;
    flex: 1;
    margin-right: 20%;
    margin-left: 10%;
    border-radius: 10px;
   

}
.header__input{
    margin-top: 1px;
    margin-left: 0px;
    margin-bottom: 1px;
    height: 15px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border-color: #32df7a;
    border-left: #32df7a;
    
}

.header__icon{
    background-color: #df8e32;
    padding: 6px;
    height: 24px !important ;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.s1{
     font-size: 14px;
}
.s2{
    font-size: 15px;
    font-weight: 600;
}
.header__cartoption{
    margin-left: 10px;
}
.header__home{
    color: white;
    outline-color: white;
    outline-width: .1px;
    margin-left: 10px;
}
.but{
    margin-top: 5px;
    
    
}
.img_lo{
    margin-top: 5px;
    width: 30px;
    background-color: #32df7a;
    
    margin-bottom: 50px;
    margin-right: 10px;
}

.auth{
    display: flex;
}

.classify{
    width: 120px;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    background:none;
    color: aqua;
    padding: 0;
    border-radius: 4px;
    border-color: rgb(199, 250, 219);;
    transition: all .6s ease-out;
}
.classify:hover{
    width: 140px;
    background-color: aquamarine;
    box-shadow: 0 4px 8px 0 rgb(105, 197, 201), 0 6px 20px 0 rgba(69, 218, 238, 0.932);
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
    
}
.mobile_ham{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.mobile_ham_logo{
    margin-top: 15px;
    background-color: white;
    height: 33px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    margin-left: 10px;
    

    
}
.mobile_search_input{
    height: 35px;
    width: 90%;
    border-radius: 5px;
    border:none;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.mobile_search{
    width: 87%;
    display: flex;
    flex: 1;
    background-color: #32df7a;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 8%;
    
}

@media(max-width:500px){
    .desktop_header{
        display: none;
       
    }
    
}
@media(min-width:500px){
    .mobile_header{
        display: none;
       
    }
    
}