.cart{
    margin-top: 100px;
    
}

#ex1 .icon-grey {color: grey}
  #ex1 i {   
      width:5px;
      text-align:center;
      vertical-align:middle;
      position: relative;
  }
  #ex1 .badge:after{
      content:"55";
      position: absolute;
      background: rgba(0,0,255,1);
      height:1.5rem;
      top:1.5rem;
      right:1rem;
      width:1.5rem;
      text-align: center;
      line-height: 1.5rem;;
      font-size: 1rem;
      border-radius: 50%;
      color:white;
      border:1px solid blue;
  }
