.product_info{
    display: flex;
    
}
.product_info1{
    display: flex;
    flex-direction: column;
}
.product_logo{
    margin-left: 25px;
    margin-top: 75px;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product__rating{
    display: flex;
}
.product_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 90px;
    margin-left: 50px;
}

.product_total{
    margin-top:150px;
    background-color: white;
    width: 250px;
    height: 300px;
}
.product_but{
    margin-top:10px;
    background-color: #ff6b6b;
    margin-left: 25px;
    height: 35px;
    width: 200px;
    border: 1px solid #ff6b6b;
    color: white;
    border-radius: 2px;
    
}
.product_total > h2{
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
  
}
.product_a{
    margin-top: 10px;
    display: flex;
    margin-left:10px;
}
.product_m{
    margin-top: 15px;
}
.product_quantity{
    margin-top: 50px;
    width: 150px;
    margin-left: 50px;
    height: 35px;
}
.product_short{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60px;
    height: 60px;
    margin-left: 35px;
    margin-top: 30px;
}
.product_my_group{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 50px;
}

.product_review{ 
   
    height:200px ;
    background-color: rgba(255, 255, 15,.5);
    margin-left:20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.product_review>h3{
    font-family: 'Brush Script MT', cursive;
}
.rating_div{
    margin-top: 25px;
    left: 0;
    margin-bottom: 25px;

}
.product_quantity:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product_but:hover{
    box-shadow: 0 4px 8px 0 rgba(240, 61, 61, 0.979), 0 6px 20px 0 rgba(238, 62, 62, 0.863);

}

@media(max-width:500px){
    .product_info{
        flex-direction: column;
    }
    .product_logo{
        width: 85%;
        margin-top: 35px;
    }
    .product_my_group{
        display: none;
    }
    .product_box{
        margin-top: 40px;
    }
}